/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #ffffff;
}
body{
    background-color: #f6f6f6;
}
.logo{
    background-color: #ffffff;
    padding: 15px;
}
/* sezione dei pulsanti */
section{
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 10px;
    padding-left: 10px;
    scale: 105%;
}
.bottone{
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
    border: 0.5px solid #eaeaea;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
}
.bottone:hover{
    background-color: #87d1ff;
}
/* sezione delle task  */
.box{
    height: 30%;
    width: 60%;
    background-color:  #ffffff;
    padding: 20px;
    margin-left: 20%;
    margin-top: 5%;
}
h2{
    font-size: 25px;
    margin-left: 10px;
}
.section{
    margin-top: 20px;
}
.marginright{
    margin-right: 10px;
}
.task {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
/* colori dei tag */
.task .tag {
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
}

.tag.editorial {
    background-color: #007bff;
}

.tag.recruiting {
    background-color: #ff4d4f;
}

.tag.mobile {
    background-color: #ffa500;
}

.tag.sales {
    background-color: #52c41a;
}

.tag.website {
    background-color: #eb2f96;
}

.tag.goals {
    background-color: #faad14;
}
